# Dependencies
node_modules/
server/node_modules/
.angular/

# Development files
*.md
*.log
.env
.env.*
!.env.example
.git/
.gitignore
.editorconfig

# IDE
.vscode/
.idea/

# Test files
*.spec.ts
karma.conf.js

# Deploy folder itself
deploy/
